# Image
CONNECTOR_IMAGE=

# Log level
LOG_LEVEL=

# Java runtime
JAVA_RUNTIME_FLAGS_CONNECTOR=
JAVA_RUNTIME_FLAGS_IH=
HANDLER_JAVA_OPTS=

# Identity
REGISTER_PARTICIPANT_PARTICIPANT_DID=
REGISTER_PARTICIPANT_ID=

# Identity proxy
IDENTITY_PROXY_URL=
IDENTITY_PROXY_TOKEN=
REGISTER_PARTICIPANT_X_API_KEY=

# Trusted issuers
# Must be a list of DIDs separated by commas
TRUSTED_ISSUERS=

# Keys
CONNECTOR_PUBLIC_KEY_FILE=
CONNECTOR_PRIVATE_KEY_FILE=
DID_PUBLIC_KEY_TYPE=
WALLET_PRIVATE_KEY=

# Ports (Connector)
CONNECTOR_PORT_BASE=
CONNECTOR_PORT_PUBLIC=
CONNECTOR_PORT_CONTROL=
CONNECTOR_PORT_MANAGEMENT=
CONNECTOR_PORT_PROTOCOL=

# Ports (Identity Hub)
IH_PORT_BASE=
IH_PORT_CREDENTIALS=
IH_PORT_IDENTITY=
IH_PORT_DID=
IH_PORT_VERSION=
IH_PORT_STS=

# Ports (Other services)
HANDLER_PORT=
DOZZLE_PORT=

# External URLs
CREDENTIAL_SERVICE_EXTERNAL_URL=
PROTOCOL_EXTERNAL_URL=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Internal secrets
IH_SUPER_USER_SECRET=