# Orion-LD variables
EXPOSED_ORION_LD_PORT=
ORION_LD_PORT=
ORION_LD_VERSION=

# MongoDB variables
EXPOSED_MONGO_DB_PORT=
MONGO_DB_PORT=
MONGO_DB_VERSION=

# Mintaka variables
EXPOSED_MINTAKA_PORT=
MINTAKA_PORT=
MINTAKA_VERSION=

# TimeScale variables
EXPOSED_TIMESCALE_PORT=
TIMESCALE_PORT=
TIMESCALE_VERSION=
